@import url("https://hangeul.pstatic.net/hangeul_static/css/NanumBuJangNimNunCiCe.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.container {
  position: absolute;
  text-align: center;
  width: 934px;
  height: 800px;
  border-radius: 50px;
  background: linear-gradient(0deg, #f9f9c8 0%, #ffffeb 48%);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: fadeIn 1s ease-in-out;
}

.closeBtn {
  position: relative;
  left: 400px;
  cursor: pointer;
}

.uploadBtn {
  cursor: pointer;
  position: relative;
  left: 400px;
  top: 45px;
  width: 168px;
  height: 40px;
  text-align: center;
  padding-top: 15px;
  border-radius: 40px;
  background: linear-gradient(180deg, #f0ffc8 0%, #cce685 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--, #3d4c00);
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 500;
}

.bg {
  position: relative;
  top: 50px;
}

.mainImg {
  position: relative;
  bottom: 300px;
}

.com,
.date {
  outline: none;
  display: block;
  border: none;
  position: relative;
  bottom: 300px;
  left: 370px;
  width: 300px;
  height: 35px;
  color: #2b2b2b;
  text-align: right;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-weight: 500;
}
.date {
  bottom: 310px;
  border: none;
}
.com::placeholder {
  color: #2b2b2b;
  text-align: right;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-weight: 500;
}
.com:focus {
  color: #2b2b2b;
  text-align: right;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.com1 {
  position: relative;
  outline: none;
  bottom: 200px;
  width: 710px;
  border: 0;
  border-bottom: 1px solid #3d4c00;
  color: var(--, #2b2b2b);
  font-family: "NanumBuJangNimNunCiCe";
  background-color: transparent;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}

.com1::placeholder {
  color: #2b2b2b;
  font-family: "NanumBuJangNimNunCiCe";
  font-size: 26px;
  font-weight: 400;
}

.com1:focus {
  color: #2b2b2b;
  font-family: "NanumBuJangNimNunCiCe";
  font-size: 26px;
  font-weight: 400;
}

.saveBtn {
  cursor: pointer;
  position: relative;
  left: 400px;
  bottom: 130px;
  width: 168px;
  height: 40px;
  padding-top: 15px;
  border-radius: 40px;
  background: linear-gradient(180deg, #f0ffc8 0%, #cce685 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.5s, color 0.5s;
}

.saveBtn.transitioning {
  background-color: #cce685;
  color: #2b2b2b;
}

.successMessage {
  position: relative;
  bottom: 210px;
  left: 400px;
  width: 165px;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
