@import url("https://hangeul.pstatic.net/hangeul_static/css/NanumBuJangNimNunCiCe.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.container {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh + calc(1300px);
}
.containerBg {
  position: absolute;
  z-index: -1;
}
.logo {
  position: absolute;
  top: 100px;
}
.innerContainer {
  height: 100%;
  width: 60%;
  max-width: 1300px;
  min-width: 1000px;
  min-height: 900px;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.infoWp {
  margin-top: 250px;
  position: relative;
  min-width: 700px;
  min-height: 900px;
}
.title {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 28px;
  font-weight: 700;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 60px;
}
.choice {
  position: absolute;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-weight: 300;
}
.addressWp > .choice {
  margin-bottom: 45px;
}
.wp {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.addr {
  display: flex;
  flex-direction: column;
}
input::placeholder {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 300;
  outline: none;
}
.idWp > input,
.pwWp > input,
.emailWp > input,
.nicknameWp > input,
.telWp > input,
.addr > input {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 300;
  outline: none;
  width: 440px;
  height: 30px;
  flex: 1;
  padding: 5px;
  font-size: 24px;
  border: 1px solid #3d4c00;
  margin-bottom: 60px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #3d4c00;
}
.addtitle {
  position: relative;
  bottom: 25px;
}
.addr > input {
  margin-bottom: 10px;
  width: 200px;
}
.achoice {
  position: absolute;
  top: 68.3%;
}
.zoneCodeBtn {
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  right: 13%;
  width: 152px;
  height: 35px;
  border-radius: 40px;
  background: linear-gradient(180deg, #f0ffc8 0%, #cce685 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 500;
}

.saveBtn {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 40%;
  text-align: center;
  padding-top: 15px;
  width: 260px;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(180deg, #fff9e4 0%, #ffda57 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-weight: 700;
}

.emailError,
.pwError,
.pwSuccess,
.emailSuccess {
  padding-top: 10px;
  position: absolute;
  left: 32%;
  color: #d34f48;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 400;
}
.pwSuccess,
.emailSuccess {
  color: #839c20;
}
