@import url("https://hangeul.pstatic.net/hangeul_static/css/NanumBuJangNimNunCiCe.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 140vh;
  animation: fadeIn 1s ease-in-out;
}

.containerBg {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 1000px;
  object-fit: cover;
}

.contentContainer {
  padding-top: 20px;
  padding-right: 30px;
  position: absolute;
  width: 80%;
  max-width: 1300px;
  max-height: 700px;
  top: 35%;
  left: auto;
  right: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.contentContainer::-webkit-scrollbar {
  width: 8px;
}

.contentContainer::-webkit-scrollbar-track {
  background: rgba(98, 123, 0, 0.45);
  border-radius: 10px;
}

.contentContainer::-webkit-scrollbar-thumb {
  background: #627b00;
  border-radius: 20px;
}

.contentContainer::-webkit-scrollbar-thumb:hover {
  background: #627b00;
}

.contentList {
  display: flex;
  position: relative;
  transition: background 0.3s ease, filter 0.3s ease;
  margin-bottom: 30px;
}

.logo {
  position: absolute;
  top: 12%;
}

.latest {
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 80px;
  position: absolute;
  top: 25%;
  left: 14%;
}

.memorialHall {
  width: 335px;
  color: #3d4c00;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  margin-left: 25px;
  margin-top: 5px;
}

.contentWp {
  position: absolute;
  left: 30%;
  margin-right: 30px;
  text-align: justify;
  padding-top: 15px;
  width: 810px;
  height: 60px;
  border-radius: 50px;
  background: linear-gradient(0deg, #f9f9c8 0%, #ffffeb 48%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #627b00;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.49px;
  padding-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 2s ease, filter 0.5s ease;
}

.contentWp:hover {
  height: min-content;
  padding-top: 15px;
  padding-bottom: 10px;
  z-index: 100;
}

.content {
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 780px;
}

.thisContent {
  z-index: 1;
  filter: none;
  width: 780px;
}

.hovered {
  width: 900px;
  height: 85px;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(1000px);
  background: rgba(98, 123, 0, 0.25);
  transition: filter 0.3s ease;
}
